<nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="index">
            <strong><span>Meeting Room</span> Booking</strong>
        </a>

        <div class="d-lg-none">
            <a href="signin" class="bi-person custom-icon me-3"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:5000/index">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/about">Story</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/room">Rooms</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/book">Book</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:5000/contact">Contact</a>
                </li>
            </ul>

            <div class="d-none d-lg-block">
                <a href="signin" class="bi-person custom-icon me-3"></a>

            </div>
        </div>
    </div>
</nav>